/*--------------------------------
  
  Buttons
*/

.o-cta {
	@include button(
		$background: transparent, 
		$background-hover: $s-primary, 
		$color: $s-primary, 
		$style: solid
	);
	font-size: rem-calc(13);
	font-weight: 700; 
	text-transform: uppercase;
	border-color: $s-primary; 
	border-width: 1px; 
	border-style: solid; 
	border-radius: 5px; 
	margin-bottom: 0; 
	padding: 1.5em 2em;
	width: auto; 
	&:hover {
		color: $white;
	}
	&--nav, &--hero {
		color: $white;
		border-color: $white; 
	}
	&--nav {
		padding: .75em 1em;
		&:hover {
			background-color: $s-primary;
		}
	}
	&--hero {
		@include typi('call-to-action');
		padding: 1rem 3rem;
	}

}

