/*--------------------------------
  
  Site header
*/

// components
.c-social-header-container {
	background-color: black(0.5); 
	border-bottom: 1px solid white(0.8); 
}

.c-header-container {
	padding: .2em 0 0; 
	position: absolute;
	z-index: 1; 
}


// objects
.o-logo {
	@include zero-out;
	&__brand {
		background-image: url('../images/logo-wht.svg');
		background-repeat: no-repeat;
		-webkit-background-size: contain; 
		-o-background-size: contain; 
		background-size: contain; 
		width: $logo-width;
		height: $logo-height; 
		display: block;
		overflow: hidden;
	}
}