// Navigations
$menu: c-menu;

.#{$menu} {
	@include menu-nav;
	&--main, &--social, &--recap {
		@include menu-list;
	}
	&--main {
		border-left: 3px solid $s-primary; 
		margin: 1.8rem 0; 
		padding-left: .5em; 
		display: none;
		@include breakpoint(large) {
			display: block;
		}
		li {
			margin-left: 1.5em; 
		}
	}
	&__link:not(.o-cta) {
		@include animated-bottom($s-primary);
		color: $white;
		font-size: 0.85em ;
		font-weight: 500; 
		text-transform: uppercase;
		padding: .5em 0;
		display: block;
	}
	&--social {
		border-right: 1px solid white(0.8);
		.#{$menu}__item {
			text-align: center;
			&.sc {
				border-left: 1px solid white(0.8);
			}
			.#{$menu}__link {
				padding: .5em !important; 
			}
		}
	}
	&--mobile {
		display: block;
		@include breakpoint(large) {
			display: none;
		}
	}
}