/*--------------------------------
  
  Pagination
*/

$pg: c-pagination;

.#{$pg} {
	background: url('#{$imgPath}/icon-dots.svg') no-repeat 50% 100%;
	margin: 0 0 2em;
	padding-bottom: .5em; 
	&__prev, &__next {
		.invisible {
			cursor: not-allowed;
			opacity: .5; 
			&:hover {
				background: none;
			}
		}
	}
	&__pages {
		@include pagination-container;
		text-align: center;
		padding: 0;
		.current {
			color: $white;
			background-color: $s-primary;
			border-radius: 50%;  
			padding: .1875rem .625rem;
			display: inline-block;
		}
		a {
			@include pagination-item-current;
			background: none;
			&:hover {
				color: $s-primary;
				background: none;
			}
		}
	}
}
.o-pg__title, .o-pg__dir {
	vertical-align: top;
	img {
		@include zero-out;
	}
}
.o-pg__title {
	color: $s-primary;
	font-size: rem-calc(12);
	text-transform: uppercase;
	margin: 0 0.3rem; 
	padding: .5em 1em; 
	display: none;
	@include breakpoint(medium) {
		display: table-cell;
	}
}

.o-pg__dir {
	width: 30px;
	height: 30px;
	display: table-cell;
	img {
		width: 100%;
		max-width: 100%;
	}
}

.#{$pg}__posts {
	@include pagination-container;
	text-align: center;
	background: none; 
	border: none;
	padding: 0;
	.page-number {
		@include pagination-item-current;
		color: $dark-gray;
		background-color: $white;
		border: 1px solid $medium-gray;  
		-webkit-border-radius: 50%; 
		border-radius: 50%; 
		display: none;
		@include breakpoint(medium) {
			display: block;
		}
		&:hover {
			color: $white;
			background-color: $medium-gray; 
		}
		&.current {
			color: $white;
			background-color: $s-primary; 
			display: block;
		}
	}
}

.c-pag__next, .c-pag__prev {
	width: 75px;  
	a {
		color: darken($dark-gray, 5%);
		display: block;
		&:hover {
			color: $s-primary;
			background-color: transparent; 
		}	
	}
}