/*--------------------------------
  
  Navigation
*/

$menu: c-menu;
$off: c-canvas;

.#{$menu} {
	@include menu-nav;
	&--main, &--social, &--recap {
		@include menu-list;
	}
	&__link:not(.o-cta), .bcText a {
		color: $white;
		font-size: rem-calc(16);
		font-weight: 500; 
		padding: .5em 0;
		display: block;
		position: relative;
	}
	&--social {
		border-right: 1px solid white(0.8);
		.#{$menu}__item {
			text-align: center;
			&.sc {
				border-left: 1px solid white(0.8);
			}
			.#{$menu}__link, .bcText a {
				padding: .5em !important; 
				&:hover {
					background-color: $s-primary; 
				}
			}
		}
	}
	&--main {
		@include foundation-dropdown-menu;
		@include dropdown-menu-direction($dir: horizontal);
		border-left: 3px solid $s-primary; 
		margin: 1.8rem 0; 
		padding-left: .5em; 
		display: none;
		@include breakpoint(large) {
			display: block;
		}
		.#{$menu}__link {
			@include animated-bottom($s-primary);
		}
		> .#{$menu}__item {
			margin-left: 1.5em; 
			&.is-active {
				.#{$menu}__link {
					&::before, &::after {
						width: 100%; 
					}
				}
			}
		}
		.#{$menu}--children {
			background-color: black(0.8);
			border-width: 0; 
			padding-left: 0;
			top: 57px !important;
			left: 0 !important;
			right: auto;
			display: none;
			&::before, &::after {
				content: " ";
				border: solid transparent;
				width: 0;
				height: 0;
				position: absolute;
				bottom: 100%;
				left: 50%;
				pointer-events: none;
			}
			&::before {
				border-color: rgba(0, 0, 0, 0);
				border-bottom-color: none;
				border-width: 10px;
				margin-left: -10px;
			}
			&::after {
				border-color: rgba(0, 0, 0, 0);
				border-bottom-color: black(.8);
				border-width: 10px;
				margin-left: -80px;
			}
		}
		.#{$menu}__sub-link {
			color: $white;
			padding: .5em .8em; 
			display: block;
			-webkit-transition: all ease .3s; 
			-moz-transition: all ease .3s; 
			-ms-transition: all ease .3s; 
			-o-transition: all ease .3s; 
			transition: all ease .3s; 
			&:hover {
				background-color: $s-primary; 
			}
		}
	}
	&--btn-mobile {
		display: block;
		@include breakpoint(large) {
			display: none;
		}
	}
}

// off-canvas
.#{$off} {
	@include off-canvas-basics;
	.close-button {
		color: $white;
		font-size: 2em; 
		text-align: right;
		border-bottom: 1px solid white(0.3); 
		padding: 0.3em 0.5em; 
		width: 100%; 
	}
	&__item {
		* {
			color: $white; 
		}
		p {
			font-size: rem-calc(24); 
			text-align: center;
			span {
				font-size: rem-calc(12); 
				display: block;
			}
		}
	}
	.is-drilldown {
		min-height: auto !important;
	}
}

.#{$off}__menu {
	@include off-canvas-base;
	@include off-canvas-position($position: right);
}

.#{$off}__content {
	@include off-canvas-content;
}

// drilldown off canvas
.#{$menu}--mobile {
	@include foundation-drilldown-menu;
	margin-bottom: 2em;
	[class*="item"] {
		@include flat-list;
		a {
			color: $white; 
			text-align: center;
			border-bottom: 1px solid white(0.3);
			padding: 0.8em 1.5em;  
			display: block;
		}
	}
	.#{$menu}__schedule {
		.#{$menu}__link {
			text-align: center;
			text-transform: uppercase;
			background-color: $s-primary; 
		}
	}
}

.#{$menu}--children {
	@include flat-list;
}

.#{$menu}--btn-mobile {
	.hamburger, .hamburger:hover, .hamburger:focus {
		background-color: transparent !important; 
		outline: none;
	}
}