$social-bar-position: right; // Change this value to `right` for changing sidebar's position.
$social-bar-transformation: rem-calc(140);
$social-bar-width: rem-calc(200);
$social-bar-background: transparent;
$social-icon-color: $white;
$social-icon-transition: all 0.3s ease-in-out;
$social-icon-font-size: 1.1rem;
$social-icon-padding: 2rem .8rem 1rem;;
$social-size: 3.8rem;

// Source: https://designpieces.com/2012/12/social-media-colours-hex-and-rgb/
$social-brand-facebook: #3b5998;
$social-brand-twitter: #55acee;
$social-brand-linkedin: #007bb5;
$social-brand-youtube: #bb0000;
$social-brand-instagram: #125688;
$social-brand-pinterest: #cb2027;

.o-sticky-bar {
    background-color: $social-bar-background;
    padding: 0;
    margin: 0; 
    width: $social-bar-width;
    transform: translateY(-50%);
    display: none;
    @include breakpoint(large) {
        display: block;
    }
    position: fixed;
    top: 50%;
    z-index: 5; 
	
    @if $social-bar-position == left {
    	left: $social-bar-transformation * -1;
    }
    @if $social-bar-position == right {
    	right: $social-bar-transformation * -1;
    }

    .o-sticky__icon {
        color: $social-icon-color;
        font-size: $social-icon-font-size;
        cursor: pointer;
        list-style-type: none;
        background-color: $dark-gray;
        padding: 0;
        height: $social-size; 
        transition: $social-icon-transition;
        overflow: hidden;
        position: relative;
        &:hover {
            @if $social-bar-position == left {
                transform:translateX($social-bar-transformation * 1);
            }
            @if $social-bar-position == right {
                transform:translateX($social-bar-transformation * -1);
            }

            > a {
                color: inherit;
                background-color: inherit;
            }
        }

        > a {
            color: inherit;
            background-color: inherit;
            display: block;
            > .fa {
                color: darken($dark-gray, 10%);
                color: $white;
                font-size: rem-calc(14); 
                font-style: normal; 
                font-weight: 600; 
                text-align: center;
                background-color: lighten($light-gray, 8%);
                background-color: darken($s-primary, 2%);
                background-repeat: no-repeat;
                background-position: 50% 30%;
                -webkit-background-size: 35%; 
                  -o-background-size: 35%; 
                  background-size: 35%; 
                // border: 1px solid $light-gray;  
                // border-width: 1px 0 0 1px; 
                padding: $social-icon-padding;
                width: $social-size;
                height: $social-size;
                display: block;
                position: relative;
                @if $social-bar-position == left {
                    float: right;
                    margin-left: 0;
                }
                @if $social-bar-position == right {
                    float: left;
                    margin-right: 0;
                }

                &.o-sched {
                    background-image: url('#{$imgPath}/icon-schedule.svg'); 
                }

                &.o-shop {
                    background-image: url('#{$imgPath}/icon-shop.svg'); 
                }

                &.o-call {
                    background-image: url('#{$imgPath}/icon-phone.svg'); 
                    background-size: 28%;
                }

                &.o-chat {
                    background-image: url('#{$imgPath}/icon-chat.svg'); 
                }

                // &.fa-facebook {
                //     background-color: $social-brand-facebook;
                // }
                // &.fa-twitter {
                //     background-color: $social-brand-twitter;
                // }
                // &.fa-linkedin {
                //     background-color: $social-brand-linkedin;
                // }
                // &.fa-youtube {
                //     background-color: $social-brand-youtube;
                // }
                // &.fa-instagram {
                //     background-color: $social-brand-instagram;
                // }
                // &.fa-pinterest-p {
                //     background-color: $social-brand-pinterest;
                // }
        }

        > .o-sticky__text {
            color: $social-icon-color;
            font-size: 80%;
            font-weight: 600; 
            text-transform: uppercase;
            padding: 1.3rem 1rem; 
            display: inline-block;
            // @if $social-bar-position == left {
            //     margin-right: 0.5rem;
            // }
            // @if $social-bar-position == right {
            //     margin-left: 0.5rem;
            // }
        }
    }

    
  }
}

.trg-overlay {
    @include center-block;
    background-color: white(.0) !important;
    border: none !important;
    left: 0;
    right: 0;  
}

