/*--------------------------------
  
  Woocommerce - Single
*/

$woo: c-woo;

.#{$woo} {
	&__images {
		@include grid-col(12);
		@include breakpoint(large) {
			@include grid-col(3);
		}
	}
	&__summary {
		@include grid-col(12);
		@include breakpoint(large) {
			@include grid-col(9);
		}
	}
	&__product-desc {
		@include grid-col-row;
	}
	.quantity {
		display: inline-block;
		input {
			padding: .5rem;
		}
	}
	form label {
		display: block;
	}
}

// tabs 
.wc-tabs {
	@include tabs-container;
	border-width: 0 0 1px;
	padding: 0;
	[class*="_tab"] {
		@include tabs-title;
		&.active {
			border: 1px solid $light-gray; 
			border-bottom-color: $white;
    		position: relative;
    		top: 1px;
    		a:focus {
    			color: $s-primary;
    			background-color: $white; 
    		}
		}
	}
}

.woocommerce-Tabs-panel {
	@include tabs-content;
	margin-bottom: 3em; 
	padding: 2em;
}