/*--------------------------------
  
  Common-Pages
*/

$lead: c-lead;

.#{$lead} {
	&-container {
		padding: rem-calc(50 0 20); 
		border-bottom: 1px solid $medium-gray;  
	}
	@include grid-col(10);
	@include grid-column-position(center);
	@include breakpoint(large) {
		@include grid-col(7);
		@include grid-column-position(center);
	}
	text-align: center;
	&__accent {
		color: darken($dark-gray, 10%);
	}
	&__title {
		@include typi('lead');
	}
}

.c-hero__cta--default {
	text-align: center;
	margin: 2em 0; 
	.o-cta {
		color: $black;
		border-color: $black;
		&--hero {
			background-color: $white; 
		} 
		&:hover {
			color: $white;
			background-color: $s-primary;
			border-color: $light-gray;  
		}
	}
}