/*--------------------------------
  
  Home
*/

$kick: c-sidekick;

.#{$kick} {
	background-color: $white;
	background-repeat: no-repeat;
		background-position: 50% 50%;
		-webkit-background-size: cover; 
		-o-background-size: cover; 
		background-size: cover;  
	border-bottom: 1px solid $medium-gray;
	position: relative;
	.ov {
		@include abs-pos($t:0, $r:0, $b:0, $l:0);
		background-color: $white;
		@include breakpoint(large) {
			background-color: white(0.2);
		}
	}
	&__block {
		// background-image: url('#{$imgPath}/bck-temp-home.jpg');
		
		padding: rem-calc(60 20); 
		position: relative;
		@include breakpoint(small only) {
			background-image: none !important; 
		}
		@include breakpoint(medium) {
			min-height: 480px; 
		}
		@include breakpoint(large) {
			background-position: 0 0;
		}
		
		&.odd {
			.#{$kick}__entry {
				@include breakpoint(large) {
					@include grid-col-off(6);
				}
			}
		}
		&.even {
			background-position: 500% 0;
			@include breakpoint(large) {
				background-position: 100% 0;
			}
		}
	}
	&__entry {
		@include grid-col(12);
		@include grid-col-pos(center);
		color: darken($dark-gray, 40%); 
		position: relative;
		@include breakpoint(medium) {
			@include grid-col(8);
			@include grid-col-pos(center);
		}
		@include breakpoint(large) {
			@include grid-col(6);
			@include grid-col-unpos();
			@include grid-column-end;
		}
	}
	&__title {
		color: $black;
		font-size: rem-calc(26); 
		font-weight: 200;
		text-shadow: 1px 1px 1px $white;  
		background: url('#{$imgPath}/icon-dots.svg') no-repeat 1% 100%;
		margin-bottom: 0.8em; 
		padding-bottom: 0.5em;  
	}
	&__points {
		@include zero-out;
		list-style: none;
		border-top: 1px solid $medium-gray;
		padding: 1em 0 2em 1em;  
		li {
			font-style: italic; 
			font-weight: 600; 
			padding-left: 1em;
			text-indent: -0.1em;
			position: relative;
			&::before {
				@include abs-pos($t:0, $l:0);
				content: "\25CF";
				color: $s-primary;
				font-style: normal; 
			}  
		}
	}
	&__footer {
		text-align: center;
		@include breakpoint(medium) {
			text-align: left;
		}
	}
}

.c-promo {
	background-color: darken($black, 10%); 
	background-image: url('#{$imgPath}/bck-promo-results.jpg'); 
	background-position: 50% 0;
	background-repeat: no-repeat;
	-webkit-background-size: cover; 
	-o-background-size: cover; 
	background-size: cover; 
	position: relative;
	@include breakpoint(large) {
		-webkit-background-size: contain; 
		-o-background-size: contain; 
		background-size: contain; 
	}
	.ov {
		background-color: black(0.5); 
	}
	* {
		color: $white;
	}
	&__intro, &__exit {
		@include grid-col(12);
		text-align: center;
		height: 400px;
		position: relative;
		@include breakpoint(large) {
			@include grid-col(6);
		}
	}
	&__entry {
		@include center-align($ver: true, $hor: true, $pos: absolute);
	}
	&__intro {
		* {
			text-align: left;
			display: block;
		}
	}
}
