/*--------------------------------
  
  Relationship Components
*/

$related: c-relationship;

.#{$related} {
	margin-bottom: rem-calc(50); 
	// padding: rem-calc(50 0 20); 
	border-bottom: 1px solid $medium-gray;
	position: relative;
	&:last-of-type {
		border: none;
	} 
	&__item {
		background-color: $black;
		background-repeat: no-repeat ;
		background-position: 50% 50%;
		-webkit-background-size: cover; 
	 	-o-background-size: cover; 
	 	background-size: cover; 
		margin-bottom: 1.2rem; 
		padding: rem-calc(80 50); 
		min-height: 280px; 
		position: relative;
		.ov {
			background-color: black(0.5); 
		}
	}
	&__entry {
		@include grid-row;
		.#{$related}__title {
			margin-bottom: 0; 
			position: relative;
			.#{$related}__link {
				@include animated-bottom($s-primary);
				color: $white; 
				font-weight: 700; 
				text-align: left;
				padding: rem-calc(10 0); 
				display: block;
			}
		}
		.o-term {
			@include abs-pos($t:-35%);
			font-size: rem-calc(12); 
			text-transform: capitalize;
			&__link {
				color: $white;
			}
		}
	}
	
	&__content, &__cta {
		@include grid-col(12);
		@include breakpoint(medium) {
			@include grid-col(6);
		}
		position: relative;
	}
	&__cta {
		padding-top: rem-calc(42); 
		.o-cta {
			@include center-align($ver: false, $hor: true, $pos: relative);
		}
	}
	// &__title {
	// 	margin-bottom: 0;
	// 	position: relative;
	// 	a {
	// 		@include animated-bottom($s-primary);
	// 		color: $white; 
	// 		font-weight: 700; 
	// 		padding: rem-calc(10 0); 
	// 	}
	// }
	&__tag {
		color: $white;
		font-weight: 700;
		font-style: italic; 
	}

}