// Links

html, body {
	font-family: $muli; 
}

a {
	&:link, &:active, &:visited {
		text-decoration: none; 
	}
}

[class*="__accent"] {
	@include typi('accent');
	@include heading-line($medium-gray);
	font-family: $ovo;
	display: block;
}