{# base.twig #}

{% include 'includes/html-header.twig' %}

</head>
	
{#-- Uncomment this line if using the Off-Canvas Menu --#}
		
<body class="{{ body_class }}" data-template="base.twig">

	<div class="c-canvas" >
			
		<div class="c-canvas__inner" data-off-canvas-wrapper>

				{% include 'includes/inc-off-canvas.twig' %}
				
				<div class="c-canvas__content" data-off-canvas-content>
					{# header #}
					{% include 'includes/header.twig' %}

					{# <ul class="o-sidenav">
						<li class="o-sidenav__item"><a href="" class="o-sidenav__link"><span>Schedule</span></a></li>
						<li class="o-sidenav__item"><a href="" class="o-sidenav__link"><span>Shop</span></a></li>
						<li class="o-sidenav__item"><a href="" class="o-sidenav__link"><span>Live Chat</span></a></li>
					</ul> #}

					<!-- You can add more icons at http://fontawesome.io/icons/#brand -->
					<ul class="o-sticky-bar">
						<li class="o-sticky__icon">
						    <a href="#"> 
						      <i class="fa o-sched" aria-hidden="true"></i>
						      <span class="o-sticky__text">Schedule</span>
						    </a>
					  	</li>
					  	<li class="o-sticky__icon">
						    <a href="#">
						      <i class="fa o-shop" aria-hidden="true"></i>
						      <span class="o-sticky__text">Shop</span>
						    </a>
					  	</li>
					  	<li class="o-sticky__icon">
					    	<a href="#">
					      		<i class="fa o-chat" aria-hidden="true"></i>
					      		<span class="o-sticky__text">Live Chat</span>
					    	</a>
					  	</li>
					</ul>

					<main id="main" class="c-main" role="main">
					{% block content %}
					{% endblock %}
					</main>
					{# footer #}
					{% include 'includes/footer.twig' %}
					
				</div>  
				{#  end .main-content #}
		</div> 
			{#  end .off-canvas-wrapper-inner #}
	</div> 
	{#  end .off-canvas-wrapper #}
	{{ function('wp_footer') }}
</body>
</html> 
{# end page #}