<div class="c-lead-container l-block">
	<div class="l-wrap">
		<div class="c-lead">
			<header class="c-lead__header">
				<span class="c-lead__accent">{{acf.lead_accent.value}}</span>
				<h2 class="c-lead__title">{{acf.lead_title.value}}</h2>
			</header>
		
			{{acf.lead_entry.value}}
		</div>
	</div>
</div>