{# vars #}
{% set login   = options.guest_login %}
{% set locator = options.locator_label %}

<div class="c-social-header-container">
	<div class="c-social-header l-wrap">
		<nav class="l-menu u-float-right">
			<menu class="c-menu c-menu--social">
				<li class="c-menu__item"><a href="tel:{{options.main_phone}}" class="c-menu__link"><strong>{{options.main_phone}}</strong></a></li>
				{% if login %}
					<li class="c-menu__item"><a href="" class="c-menu__link">Guest Login</a></li>
				{% endif %}
				<li class="c-menu__item">{% include "includes/inc-bold-chat.twig" %}</li>
				{% if options.store_locator %}
					<li class="c-menu__item">
						<a href="{{options.store_locator}}" class="c-menu__link">
						{% if locator %}
							{{locator}}
						{% else %}
							Store Locator
						{% endif %}
						</a>
					</li>
				{% endif %}
				{% include "/includes/inc-social.twig" %}

			</menu>
		</nav>
	</div>
</div>