{# Testimonials #}
<div id="testimonials" class="c-testimonial-container l-block" role="region" aria-label="Testimonials">
	<div class="c-testimonial">
		<div class="l-wrap">
			<header class="c-testimonial__header">
				<span class="c-testimonial__accent">Listen to</span>
				<h2 class="c-testimonial__title">Our Happy Clients</h2>
			</header>
			<div id="slideTestimonials" class="o-slide owl-carousel owl-theme">
				{% for item in testimonial %}
					{% set content = item.get_field('testimonial_content') %}
					{% set img  = TimberImage(item.get_field('testimonial_image')).src('large') %}
					<div class="o-slide__item">
						<div class="c-testimonial__profile">
							<figure class="c-profile__img" style="background-image: url('{{img}}');">&nbsp;</figure>
							<cite class="c-profile__cite">
								<p>{{item.title}}</p>
							</cite>
						</div>
						<div class="c-testimonial__entry">
							<blockquote class="">{{content|excerpt(30)}}</blockquote>
						</div>
					</div>
				{% endfor %}
			</div>
		</div>
	</div>
</div>