<div id="subscribeModal" class="slickModal">
    <div class="slickWindow">
        <div class="c-subscribe l-wrap">
        	<header class="c-subscribe__header">
	        	<h3 class="c-subscribe__title">Never miss out!</h3>

	        	<p>Join our newsletter and learn about exciting new products and events.</p>
        	</header><!-- /header -->
			<!--[if lte IE 8]>
			<script charset=“utf-8” type=“text/javascript” src=“//js.hsforms.net/forms/v2-legacy.js”></script>
			<![endif]-->
			<script charset="utf-8" type="text/javascript" src="//js.hsforms.net/forms/v2.js"></script>
			<script>
			 hbspt.forms.create({
			   css: '',
			   portalId: '3484022',
			   formId: 'c9705161-f381-4853-b096-91b9a0eeb441'
			 });
			</script>
		</div>
    </div>
</div>