{# Testimonials #}
<div id="testimonials" class="c-testimonial-container l-block" role="region" aria-label="Testimonials">
	<div class="c-testimonial">
		<div class="l-wrap">
			<header class="c-testimonial__header">
				<span class="c-testimonial__accent">Listen to</span>
				<h2 class="c-testimonial__title">Our Happy Clients</h2>
			</header>
			<div id="slideTestimonials" class="o-slide owl-carousel">
				{# item #}
				<div class="o-slide__item">
					<div class="c-testimonial__profile">
						<figure class="c-profile__img">
							<img src="http://lorempixel.com/100/100/sports" />
						</figure>
						<cite class="c-profile__cite">
							<p>Diallo</p>
						</cite>
					</div>
					<div class="c-testimonial__entry">
						<blockquote class="">
							<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
							tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam.</p>
						</blockquote>
					</div>
				</div>

				{# item #}
				<div class="o-slide__item">
					<div class="c-testimonial__profile">
						<figure class="c-profile__img">
							<img src="http://lorempixel.com/100/100/sports" />
						</figure>
						<cite class="c-profile__cite">
							<p>Diallo</p>
						</cite>
					</div>
					<div class="c-testimonial__entry">
						<blockquote>
							<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
							tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam.</p>
						</blockquote>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>