<footer class="c-article__footer">
	<p>At {{ site.name }} we are continuously striving to make our clients look and feel their absolute best! We have the tools to help you build the best version of you, as you've always wanted.</p>
	
	{# <ul class="o-action">
		<li><a href="" class="o-cta"></a></li>
		<li><a href="" class="o-cta"></a></li>
	</ul> #}
	<a href="#" class="o-cta">Schedule an Appointment Today!</a> 
</footer>