{# vars #}
{% set bck = TimberImage(acf.goal_banner.value).src %}
{% set alt = acf.goal_alternative_title.value %}
{% set tag = acf.goal_tag_line.value %}
<div class="c-hero c-hero--service" {% if bck %} style="background-image: url({{bck}}) {% endif %}">
	<div class="o-ov"></div>
	<article class="c-hero__entry">
		<header class="c-hero__header">
			<span class="c-hero__accent">Goal</span>
			<h1 class="c-hero__title">
				{% if alt %}
					{{alt}}
				{% else %}
					{{post.title}}
				{% endif %}
			</h1>
		</header>
		
		{% if tag %}
			<div class="c-hero__tag">
				<p>{{tag}}</p>
			</div>
		{% endif %}
	</article>
</div>
