{# vars #}
{% set l_accent = acf.lead_accent.value %}
{% set l_title  = acf.lead_title.value %}
{% set l_entry  = acf.lead_entry.value %}

{% if l_entry %}
<div class="c-lead-container l-block">
	<div class="l-wrap">
		<div class="c-lead">
			{% if fn('is_singular', 'post') %}
				<p class="o-post__date">{{ post.date }}</p>
			
			{% else %}
				
				<header class="c-lead__header">
					{% if l_accent %}
					<span class="c-lead__accent">{{l_accent}}</span>
					{% endif %}
					<h2 class="c-lead__title">{{l_title}}</h2>
				</header>
			
				{{l_entry}}

			{% endif %}

		</div>
	</div>
</div>
{% endif %}