
	<div class="c-hero 
		{% if fn('is_front_page') %}
		c-hero--main" 
		{% endif %}
		style="background-image: url({{TimberImage(acf.hero_background.value).src}})"
	>
		<div class="o-ov"></div>
		<article class="c-hero__entry">
			<header class="c-hero__header">
				<span class="c-hero__accent">{{acf.title_accent.value}}</span>
				<h1 class="c-hero__title">
					{% if acf.alternative_title.value %}
						{{acf.alternative_title.value}}
					{% else %}
						{{post.title}}
					{% endif %}
				</h1>
			</header>
			
			{% if fn('is_front_page') %}
				<div class="c-hero__cta">
					<a href="" class="o-cta o-cta--hero">Start Now</a>
				</div>
			{% endif %}
		</article>
	</div>
