{# menu footer #}
{% if sec %}
	<ul class="footer-nav">
	{% for item in sec.get_items %}
	    <li class="item"><a class="nav-link" href="{{item.get_path}}">{{item.title}}</a>
	{% endfor %}
	</ul>
{% endif %}