<div class="c-hero c-hero--main slider">
	<div class="c-orbit owl-carousel">
 		{% for item in post.get_field('hero_slider') %}
 			<img src="{{ TimberImage(item.slide_image).src }}" alt="" class="c-orbit__img">
 		{% endfor %}
 	</div>
	<div class="o-ov"></div>
	{% include "/includes/prt-hero-entry.twig" %}
</div>