{# vars #}
{% set bck = TimberImage(acf.hero_background.value).src %}
<div class="c-hero {% if fn('is_front_page') %}c-hero--main{% endif %}" {% if (fn('is_page')) and (bck) %} style="background-image: url({{bck}}) {% endif %}">
	<div class="o-ov"></div>
	{% include "/includes/prt-hero-entry.twig" %}
</div>