// Google Fonts
@import url('https://fonts.googleapis.com/css?family=Mr+De+Haviland|Muli:200,300,400,600');

$typi: (
	base: (
  		null: (16px, 1.4),
  		medium: 18px,
  		large: 20px,
  	),
  	basic: (
  		null: (14px, 1.4),
  		medium: (16px, 1.6),
  	),
  	opening: (
  		null: (16px, 1.4),
  		medium: (18px, 1.6),
  		large: (18px),
  	),
  	cta: (
		null: (15px),
  		medium: 16px,
  		large: 18px,
  	),
);

@include headings() {
  font-family: $muli; 
  font-weight: 400; 
  text-transform: uppercase ;
  letter-spacing: letter-spacing(180);
  margin: 0 0 $global-margin; 
}

p {
	// @include typi(basic);
	margin: 0 0 $global-margin; 
}
