/*--------------------------------
  
  Utilities
*/

figure {
	margin: 0 
}

.u-full-block {
	display: block;
}

.u-float-left {
	float: left !important;
}

.u-float-right {
	float: right !important;
}

.u-text-right {
	text-align: right;
}

.u-text-center {
	text-align: center;
}

.u-no-margin {
	@include zero-out;
}

.u-divide {
	border-top: 1px solid $light-gray;
	margin: rem-calc(40 0);
}

