// 1. Colors
$s-primary:     #bf0413;
$s-secondary:   #d90404;
$s-tertiary:    #28394b;
$s-accent:      #d97109;
$s-gray:        #f2f2f2;

$s-button:      $black;



// 2. Fonts
$muli:     'Muli', sans-serif;
$haviland: 'Mr De Haviland', cursive;

// 3. Misc
$logo-width: 237px;
$logo-height: 103px;
$logo-sm-width: 180px;


// 4. Site Mixins

//  animated border
@mixin animated-bottom($color) {
	position: relative;
	&::after {
		@include abs-pos($b:0, $l:0);
		content: "";
		background: $color; 
		width: 0;
		height: 2px;    
		-webkit-transition: width .2s; 
		-moz-transition: width .2s; 
		-ms-transition: width .2s; 
		-o-transition: width .2s; 
		transition: width .2s; 
	}
	&:hover::after {
		width: 100%; 
	}
}

@mixin heading-line($color) {
	margin: 0 auto;
	overflow: hidden;
	&:before, &:after {
		content: "";
		background-color: $color;
		width: 50%;
		height: 1px;
		display: inline-block;
		position: relative;
		vertical-align: middle;
	}
	&:before {
		right: 1.5em;
 		margin-left: -50%;
	}
	&:after {
		left: 1.5em;
 		margin-right: -50%;
	}
}

// 5. Paths
$imgPath: "../images";