.hbspt-form {

  font-family: 'Muli', sans-serif !important;
  font-weight: 700;

    // @include breakpoint(small) {     
    // .hs-form-field { 
    //   width: 100% !important; 
    //   float: none !important; 
    // }
    // input, select, textarea { 
    //   width: 100% !important; 
    // }
    // .input { 
    //     margin-right: 0 !important; }
    // }

    ul {
        list-style-type: none;
        padding-left: 0;
    }

    .hs_phone_type_radio, .hs_gender_radio, .hs_preferred_contact_method { 
        label {
           display: block; 
        }
    }
    
    .hs_phone_type_radio {
        > label {
            padding-right: 1em; 
            float: left;
            &:first-of-type::after {
                content: ":";
            }
        }
        ul {
            margin-top: 0;
            display: table;
        }
        .hs-form-radio {
            padding-right: 1em; 
            display: table-cell;
            .hs-input, span {
                width: auto !important;
                display: inline-block;
            } 
        }
    }
    

    fieldset { 
        margin: 0 auto !important;
        max-width: 40rem !important;  

        ul.hs-error-msgs { 
            display: none !important; 
        }

        input {
            display: inline-block;
            margin-right: 5px;
            &[type=radio] {
                -webkit-appearance: radio;
                -moz-appearance: radio;
                appearance: radio;
            }
            &[type=checkbox] {
                -webkit-appearance: checkbox;
                -moz-appearance: checkbox;
                appearance: checkbox;
            }
        }

        input, select, textarea { 
            font-size: rem-calc(13);
            border-radius: 5px;
            border: 1px solid $medium-gray;
            margin-bottom: 10px;
            text-transform: uppercase;
            width: 100% !important;
            -webkit-appearance:none;
            -moz-appearance: none;
            appearance: none;

              &:-moz-focusring { color: transparent; text-shadow: 0 0 0 #000; }

              &::-webkit-input-placeholder { color: darken($medium-gray, 20%); font-size: rem-calc(13); }
              &::-moz-placeholder { color: darken($medium-gray, 20%); font-size: rem-calc(13); }
              &:-ms-input-placeholder { color: darken($medium-gray, 20%); font-size: rem-calc(13);}
              &:-moz-placeholder { color: darken($medium-gray, 20%); font-size: rem-calc(13);}

              &.error, &.invalid { 
                color: $s-primary;
                background: $white;
                border-color: $s-primary; 
                &::-webkit-input-placeholder { color: $s-primary; }
                &::-moz-placeholder { color: $s-primary; }
                &:-ms-input-placeholder { color: $s-primary; }
                &:-moz-placeholder { color: $s-primary; }
            }
        }

        


        ul.invalid.error {
          color: #bf0413;
          label {color: #bf0413;} 
        }

        label.hs-form-radio-display { display: block; }



        select { 
            background: url('#{$imgPath}/icon-select-down.svg') no-repeat;
            background-position: 98% 47%;
            padding-left: 1em; 
            height: 43px;
            &.error, &.invalid { 
            background-position: 100% 100%; 
          }
          option {
            color: $medium-gray;
            font-size: rem-calc(13); 
          }
    }

    textarea {
      height: 140px;
      border-radius: 10px;
      width: 100% !important;
    }
  }

  .hs_submit {
    max-width: 500px;
    margin: 0 auto;
    
    .actions { text-align: center; }

    input {
        color: $white;
        font-size: .8125rem;
        line-height: 1;
        text-align: center;
        text-transform: uppercase;
        background: $black;
        border: 1px solid $black;
        border-radius: 50px;
        display: inline-block;
        vertical-align: middle;
        margin: 0 0 10px 0;
        padding: 1.5em 2.5em;
        width: auto;
        -webkit-appearance: none;
        transition: background-color .25s ease-out,color .25s ease-out;
      &:hover { 
        background: $s-primary;
        border-color: $s-primary;
        cursor: pointer !important;
      }
    }
  }
}