{% extends 'layouts/base.twig' %}

{% block content %}
	

	<section class="c-content" role="">
		{% for post in posts %}
			<h1>{{post.title}} {{site.title}}</h1>
		{% endfor %}
	</section>
																						

{% endblock %}
{# end #main #}